<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ros_control plugin -->
  <xacro:macro name="manipulator_arm_gazebo" params="prefix prefix_val">
    <gazebo>
      <plugin name="${prefix_val}ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>${prefix}</robotNamespace>
        <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
