<?xml version="1.0"?>
<!--
  Universal robot ur5 launch.  Loads ur5 robot description (see ur_common.launch
  for more info)

  Usage:
    ur5_bringup.launch robot_ip:=<value>
-->
<launch>

  <!-- arm common -->
  <include file="$(find manipulator_driver)/launch/manipulator_ros_control.launch">
    <arg name="ns" value="leftarm" />
    <arg name="port" value="/dev/leftarm" />
  </include>

</launch>
